# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/competition.png
!app/crud/uploads/full
!app/crud/uploads/01-ericka-bermas.jpg
!app/crud/uploads/02-rica-stephanie-ubaldo.jpg
!app/crud/uploads/03-kazzandra-seton.jpg
!app/crud/uploads/04-sherrie-mae-rumaraog.jpg
!app/crud/uploads/05-trisha-fae-sarzoso.jpg
!app/crud/uploads/06-angelyn-matusino.jpg
!app/crud/uploads/07-janna-eloisa-lanuzga.jpg
!app/crud/uploads/08-mikyla-ashley-brutas.jpg
!app/crud/uploads/09-liza-mae-general.jpg
!app/crud/uploads/10-ricamae-collao.jpg
!app/crud/uploads/11-johannah-joy-abad.jpg
!app/crud/uploads/12-odessa-bordeos.jpg
!app/crud/uploads/13-merel-nicolas.jpg
!app/crud/uploads/14-vivi-diana-nonato.jpg
!app/crud/uploads/15-jamila-gonzales.jpg
!app/crud/uploads/16-divine-grace-samarita.jpg
!app/crud/uploads/17-rohanna-mae-munoz.jpg
!app/crud/uploads/18-mary-joy-chavez.jpg
!app/crud/uploads/19-rica-jane-peñalba.jpg
!app/crud/uploads/20-abegail-figueras.jpg
!app/crud/uploads/no-avatar.jpg
!app/crud/uploads/cmon.gif
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
